html,
body{
	margin: 0;	
	width: 100%;
	height: 100%;
	background-color: #f5f5f5;
}

.container {
	width: 1300px;
}

hr {
	border: 1px solid #ccc;
	border-width: 1px 0 0 0;
}

ul,
ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Site
------------------------------------------*/
.site {
	min-height: 100%;
	position: relative;
}

/* Login
------------------------------------------*/
.site .login img {
	width: 200px;
}

.site .login .text-center {
	padding: 25px;
	margin-top: 25px;
	margin-bottom: 20px;
	border-bottom: 1px dashed #efefef;
}

/* Agendamento
------------------------------------------*/

.miniTexto {
	color: #666;
	font-size: 10px;
	font-style: italic;
}

/* Bootstrap
------------------------------------------*/
.navbar { margin-top: 25px; }
.navbar .collapse .nav li a { background: none !important; }
.navbar-brand { padding-top: 0; padding-bottom: 0; }
.navbar-brand img { height: 35px; margin-top: 7px; }

.panel .panel-heading p { float: left; margin-top: 8px; margin-bottom: 0; }
.panel .panel-heading a { float: right; }

/* Validate
------------------------------------------*/
label.error {
	font-size: 10px!important;
	font-style: italic;
}

/* Menu */
/********/
.navbar {
	margin-top: 0px; 
}
.navbar-default {
	background-color: #173B5D;
	color: #fff;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .dropdown-menu>li>a {
	color: #fff;
}
.navbar-default .dropdown-menu {
	background-color: #173B5D;
	color: #fff;
}

/* Menu lateral */
/****************/
img.lateral {
	margin: 0 15px;
}

/* Agendamentos */
/****************/
.table td {
	font-size: 11px;
}

.panel-body {
	padding: 10px 15px;
}

.clearfix {
	margin-bottom: 15px;
}

.agendamentos {
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7;
}

td.confirmed {
	color: #008000;
	font-weight: bold;
}

td.canceled {
	color: #F00;
	font-weight: bold;
}

td.pending {
	color: #FFA81A;
	font-weight: bold;
}

/* Contadores */
/**************/
.label {
	padding: 15px;
}

.label-danger {
	background-color: #E00000;
}

.label-success {
	background-color: #A2CE33;
}

/* Charts */
/**********/
.panel-body img {
	max-width: 385px;
}

/* calendar */
table.calendar		{ 
	border-left:1px solid #999; 
}
tr.calendar-row	{
}
td.calendar-day	{
	min-height:80px; 
	font-size:11px; 
	position:relative; 
} 
* html div.calendar-day { 
	height:80px; 
}
td.calendar-day:hover { 
	background:#eceff5; 
}
td.calendar-day-np	{ 
	background:#eee; 
	min-height:80px;
} 
* html div.calendar-day-np {
	height:80px; 
}
td.calendar-day-head { 
	background:#ccc; 
	font-weight:bold; 
	text-align:center; 
	width:120px; 
	padding:5px; 
	border-bottom:1px solid #999; 
	border-top:1px solid #999; 
	border-right:1px solid #999; 
}
div.day-number { 
	background:#999; 
	padding:5px; 
	color:#fff; 
	font-weight:bold; 
	float:right; 
	margin:-5px -5px 0 0; 
	width:20px; 
	text-align:center; 
}
/* shared */
td.calendar-day, td.calendar-day-np { 
	width:120px;
	padding:5px;
	border-bottom:1px solid #999;
	border-right:1px solid #999;
}
/* calendar */
table.calendar		{ 
	border-left:1px solid #999;
}
tr.calendar-row	{
	height: 110px;
}
thead tr.calendar-row {
	height: 40px;
}
td.calendar-day	{ 
	min-height:80px;
	font-size:11px;
	position:relative;
} 
* html div.calendar-day { 
	height:80px;
}
td.calendar-day:hover	{ 
	background:#eceff5;
}
td.calendar-day-np	{ 
	background:#eee;
	min-height:80px;
} 
* html div.calendar-day-np { 
	height:80px;
}
td.calendar-day-head { 
	background:#ccc;
	font-weight:bold;
	text-align:center;
	width:120px;
	padding:5px;
	border-bottom:1px solid #999;
	border-top:1px solid #999;
	border-right:1px solid #999;
}
div.day-number		{ 
	background:#999;
	padding:5px;
	color:#fff;
	font-weight:bold;
	float:right;
	margin:-5px -5px 0 0;
	width:20px;
	text-align:center;
}
/* shared */
td.calendar-day, td.calendar-day-np { 
	width:120px;
	padding:5px;
	border-bottom:1px solid #999;
	border-right:1px solid #999;
}

#canvas_calendar{
	display: none;
}

.select {
	max-width: 115px;
	margin-top: 10px;
	color:#fff;
	font-size: 10px;
	text-transform: uppercase;
}


.select.free {
	background: red;
}

.select.busy {
	background: green;
}

.select option {
	background: #fff;
	color: #000;
	text-transform: none;
}

.floating {
	position: absolute;
	top: 0;
	right: -114px;
	z-index: 10;
	min-width: 130px;
}
.floating#agend {
	top: 209px;
}

.floating.client#agend {
	top: 168px;
}

.floating#users {
	top: 168px;
}

.floating.client#users {
	top: 127px;
}

.floating#clients {
	top: 127px;
}

.floating#config {
	top: 455px;
}

.change-month {
	color: #fff;
	margin: 0 5px;
}

.change-month:visited,
.change-month:hover,
.change-month:active {
	color: #fff;
	text-decoration: none;
}

button.list-group-item {
    width: 100%;
    text-align: left;
    outline: none;
    color: #3A3A3A;
}

.alertas a, 
.alertas a:focus, 
.alertas a:hover {
     color: #000; 
     text-decoration: none; 
}