/*
* DASHBOARD CSS
*/

body{
	background: #f1f2f2;
}

hr{
	border-color: #bbb;
}

/* HEADER */

.dashboard-header{
	margin-bottom: 20px;
	background: #193c5b;
	color: #fff;
	font-family: 'Titillium Web', sans-serif;
}

.dashboard-header-content{
	float: right;
	margin-right: 20px;
}

.user, .user-menu{
	float: left;
	padding: 10px 15px;
	margin: 3px 0;
	font-size: 16px;
	border-left: 1px solid #fff;
}

.user i{
	margin-right: 10px;
	font-size: 24px;
	vertical-align: sub;
}

.user-menu{
	position: relative;
	border-right: 1px solid #fff;
}

.user-menu a{
	color: inherit;
}

.user-menu-sub{
	position: absolute;
	top: 110%;
	right: 0;
	min-width: 120px;
	padding: 0;
	display: none;
}

.user-menu-sub li{
	list-style: none;
	text-align: right;
}

.user-menu-sub li + li{
	border-top: 1px solid #fff;
}

.user-menu-sub a{
	display: block;
	background: #2f475b;
	padding: 5px 15px;
}

.user-menu-sub a:hover, .user-menu-sub a:focus{
	text-decoration: none;
	background: cornflowerblue;
}

/* MAIN */

.main{
	width: 100%;
	display: block;
}

.dashboard-sidebar{
	width: 20%;
	float: left;
}

.dashboard-sidebar .logo{
	margin-top: 0;
	margin-bottom: 15px;
	text-align: center;
}

.dashboard-sidebar .logo img{
	max-width: 100%;
}

.dashboard-menu{
	width: 95%;
	margin: 0 auto;
}

.dashboard-menu .dashboard-menubar{
	padding: 0;
}

.dashboard-menu li{
	margin-bottom: 3px;
	list-style: none;
}

.dashboard-menu li.active a{
	background: #347fbf;
	color: #fff;
}

.dashboard-menu a{
	display: block;
	width: 100%;
	background: #fff;
	padding: 10px 10px 10px 35px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-weight: 700;
	color: #474643;
	font-size: 15px;
}

.dashboard-menu a:hover, .dashboard-menu a:focus{
	background: #cccccc;
	text-decoration: none;
}

.dashboard-menu .dashboard-menu-responsive{
	margin-bottom: 10px;
	display: none;
}

/* DASHBOARD CONTENT */

.dashboard-content{
	width: 75%;
	margin: 0 2% 0 3%;
	float: left;
}

.dashboard-inbox ul{
	padding: 0;
}

.dashboard-inbox li{
	float: left;
	margin-right: 5%;
	list-style: none;
	font-weight: 700;
	color: #474643;
	text-align: center;
}

.dashboard-inbox li.danger span{
	background: #dd000a;
}

.dashboard-inbox li.alerta{
	margin-left: 15%;
}

.dashboard-inbox a{
	display: block;
	color: inherit;
}

.dashboard-inbox span{
	display: inline-block;
	margin-bottom: 5px;
	padding: 10px 20px;
	border-radius: 5px;
	background: #a7cd45;
	color: #fff;
	font-size: 24px;
}

.dashboard-inbox strong{
	display: block;
	font-size: 16px;
}

/* CONTENT */

.dashboard-page-content{
	margin-top: 20px;
}

.dashboard-content-header{
	margin-bottom: 30px;
	background: #347fbf;
	color: #fff;
	padding: 10px 10px 10px 35px;
	border-radius: 4px;
	color: #d6e5f2;
}

.dashboard-content-header h2{
	font-size: 18px;
	margin: 0;
	display: inline-block;
}

.dashboard-content-header .tagline{
	font-size: 12px;
	display: inline-block;
}

/* DASHBOARD BOX */

.dashboard-box{
	border: 1px solid #cccccc;
	border-radius: 4px;
	overflow: hidden;
}

.dashboard-box-head{
	padding: 10px 15px;
	background: #f1f2f2;
	font-weight: 700;
	color: #474643;
	border-bottom: 1px solid #cccccc;
	font-size: 16px;
}

.dashboard-text{
	padding: 20px;
	color: #474643;
	background: #fff;
}

.dashbord-box-content{
	background: #fcfcfc;
	font-family: 'Titillium Web', sans-serif;
}

.dashboard-box .title{
	margin: 0 0 10px 0;
}

.dashboard-box .text-success{
	color: #2c9863;
}

.dashboard-box .text-danger{
	color: #ff0202;
}

.dashboard-box .text-warning{
	color: #f7af66;
}

.dashbord-box-content .table{
	margin-bottom: 0;
	color: #474643;
}

.dashbord-box-content .table th, .dashbord-box-content .table td{
	text-align: center;
}

.dashbord-box-content .table > thead > tr > th{
	border-bottom-width: 1px;
}

.dashbord-box-content canvas{
	width: 100%;
	height: 300px;
	padding: 10px 15px;
}

.dashboard-box ul{
	padding: 0;
}

.dashboard-box li{
	list-style: none;
}

/* MARGIN */

.mb-5{
	margin-bottom: 5px !important;
}

.mb-10{
	margin-bottom: 10px !important;
}

.mb-20{
	margin-bottom: 20px !important;
}

.mb-30{
	margin-bottom: 30px !important;
}

/* MEDIA QUERIE */

@media screen and (min-width: 997px){
	.dashboard-menubar{
		display: block !important;
	}
}

@media screen and (max-width: 996px){
	.dashboard-sidebar{
		width: 90%;
		margin: 0 5% 30px 5%;
	}
	
	.dashboard-content{
		width: 90%;
		margin: 0 5% 30px 5%;
	}
	
	.dashboard-inbox li{
		margin-bottom: 10px;
	}

	.dashboard-inbox li.alerta{
		margin-left: 0;
	}
	
	.dashboard-menu{
		width: 100%;
	}
	
	.dashboard-menubar{
		display: none;
	}
	
	.dashboard-menu .dashboard-menu-responsive{
		display: block;
	}
}